@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<div>
    <h1 class="sushi-sets-heading">ABOUT US</h1>
    <h3 class="delivery-info-heading" style="font-weight: 400; color: red">GOOD SUSHI, GOOD PRICE</h3>
    <div class="story">
        <p class="year">2014: The Beginning</p>
        <p>In 2014, our restaurant opened its doors in the vibrant city of Katowice, Poland. With a passion for sushi and a vision to create a unique dining experience, our journey began.</p>

        <a class="year">2015-2017: Building a Reputation</a>
        <p>During these formative years, we focused on perfecting our craft and establishing our reputation. We welcomed sushi enthusiasts from near and far, delivering exceptional flavors and impeccable service. Our dedication to quality ingredients and attention to detail started to earn us a loyal customer base.</p>

        <a class="year">2018-2020: Expanding Horizons</a>
        <p>As our popularity grew, we embarked on an expansion journey. We opened new branches in neighboring cities, bringing our signature sushi experience to a wider audience. We continued to innovate our menu, introducing new sushi creations while staying true to our commitment to freshness and authenticity.</p>

        <a class="year">2021-2023: Celebrating Success</a>
        <p>These recent years have been marked by celebration and recognition. Our restaurant has been honored with prestigious awards, acknowledging our culinary excellence and commitment to customer satisfaction. We've had the privilege of serving renowned personalities and creating unforgettable dining experiences for special occasions.</p>

        <a class="year" style="color: red">The Future</a>
        <p>As we move forward, our dedication to delivering exceptional sushi experiences remains unwavering. We strive to continuously elevate our culinary offerings, delighting our guests with new flavors and experiences. We look forward to serving you and being a part of your sushi journey for years to come.</p>
    </div>

</div>