@page
@model IndexModel
@{
    ViewData["Title"] = "Contact";
}


<div class="container">
    <h1 class="sushi-sets-heading">STAY IN TOUCH</h1>
</div>
<div class="contact">
    <h3>INFOLINE</h3>
    <a>+48 111 222 333</a>
    <h3>MAIL</h3>
    <a>info@umamisushi.sushi</a>
    <h3>ADDRESS</h3>
    <a>ul. Sashimi 44, Katowice</a>
</div>