@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <h1>UMAMI SUSHI</h1>
    <p>The best sushi experience</p>
    <a>Experience the harmonious fusion of Japanese culinary artistry and Polish charm at our sushi bar in the vibrant city of Katowice, Poland. Indulge in meticulously crafted sushi creations, paired with premium sake and a warm, welcoming atmosphere. Join us for an unforgettable dining experience that blends tradition, innovation, and exceptional service.</a>
</div>