@page
@model OrderModel
@{
    ViewData["Title"] = "Order";
}
<div class="text-center">
    <h1>SUSHI SETS</h1>

    <div>
        <form method="post">

            <img src="img/set2.png"
                 border-radius="50%"
                 width="200"
                 height="200"/>
            <h3>SET 1</h3>
            <a>45 zł, 12 units</a>
            <input type="checkbox" name="products" value="SET 1"><br>

            <img src="img/set1.png"
                 width="200"
                 height="200"/>
            <h3>SET 2</h3>
            <a>50 zł, 14 units</a>
            <input type="checkbox" name="products" value="SET 2"><br>

            <img src="img/set4.png"
                 width="200"
                 height="200"/>
            <h3>SET 3</h3>
            <a>50 zł, 14 units</a>
            <input type="checkbox" name="products" value="SET 3"><br>

            <img src="img/set5.png"
                 width="200"
                 height="200"/>
            <h3>SET 4</h3>
            <a>70 zł, 18 units</a>
            <input type="checkbox" name="products" value="SET 4"><br>

            <img src="img/set7.png"
                 width="200"
                 height="200"/>
            <h3>SET 5</h3>
            <a>100 zł, 28 units</a>
            <input type="checkbox" name="products" value="SET 5"><br>

            <img src="img/set6.png"
                 width="200"
                 height="200"/>
            <h3>SET 6</h3>
            <a>200 zł, 70 units</a>
            <input type="checkbox" name="products" value="SET 6"><br>

            <br/>
            <h3>DELIVERY INFORMATION</h3>
            <label for="name">NAME</label>
            <input type="text" name="name" id="name"><br>
            <label for="street">STREET</label>
            <input type="text" name="street" id="street"><br>
            <label for="city">CITY</label>
            <input type="text" name="city" id="city"><br>
            <label for="phone">PHONE</label>
            <input type="text" name="phone" id="phone"><br>

            <button type="submit">PLACE ORDER</button>
        </form>
    </div>
</div>