@page
@model OrderModel
@{
    ViewData["Title"] = "Order";
}
<div class="text-center">
    <h1>SUSHI SETS</h1>

    <form method="post">
        <h3>SET 1</h3>
        <a>grilled</a>
        <input type="checkbox" name="products" value="Product 1"><br>
        <h3>SET 2</h3>
        <input type="checkbox" name="products" value="Product 2"> Product 2<br>
        <h3>SET 3</h3>
        <input type="checkbox" name="products" value="Product 3"> Product 2<br>
        <h3>SET 4</h3>
        <input type="checkbox" name="products" value="Product 4"> Product 2<br>
        <h3>SET 5</h3>
        <input type="checkbox" name="products" value="Product 5"> Product 2<br>
        <h3>SET 6</h3>
        <input type="checkbox" name="products" value="Product 6"> Product 2<br>
        
        <h3>DELIVERY INFORMATION</h3>
        <label for="name">NAME</label>
        <input type="text" name="name" id="name"><br>
        <label for="street">STREET</label>
        <input type="text" name="street" id="street"><br>
        <label for="city">CITY</label>
        <input type="text" name="city" id="city"><br>
        <label for="phone">PHONE</label>
        <input type="text" name="phone" id="phone"><br>

        <button type="submit">PLACE ORDER</button>
    </form>
</div>