@page
@model RestaurantThingy.Pages.OrderConfirmationModel
@{
    ViewData["Title"] = "Thanks for your order!";
}


<div style="text-align: center">
    <h1 class="sushi-sets-heading">THANK YOU!</h1>
    <h3 class="confirmation-description">YOUR ORDER IS BEING PROCESSED, WE WILL CALL YOU TO CONFIRM IT SOON</h3>
</div>