@page
@model IndexModel
@{
    ViewData["Title"] = "Order";
}

<div>
    <h1>SUSHI SETS</h1>

    <div>
        <br/><br/>
        <div>
            <img src="img/set2.png" class="sushi-image"/>

            <h3>SET 1</h3>
            <a>45 zł, 12 units</a>
            <input type="checkbox" name="products" value="SET1">
        </div>
        <div>
            <img src="img/set5.png" class="sushi-image"/>

            <h3>SET 2</h3>
            <a>50 zł, 14 units</a>
            <input type="checkbox" name="products" value="SET2">
        </div>
        <div>
            <img src="img/set3.png" class="sushi-image"/>

            <h3>SET 3</h3>
            <a>70 zł, 18 units</a>
            <input type="checkbox" name="products" value="SET3">
        </div>
        <div>
            <img src="img/set7.png" class="sushi-image"/>

            <h3>SET 4</h3>
            <a>100 zł, 32 units</a>
            <input type="checkbox" name="products" value="SET4">
        </div>
        <div>
            <img src="img/set6.png" class="sushi-image"/>

            <h3>SET 5</h3>
            <a>200 zł, 80 units</a>
            <input type="checkbox" name="products" value="SET5">
        </div>

        <div>
            <form method="post">
                <br/><br/>
                <h3>DELIVERY INFORMATION</h3>
                <label for="name">NAME</label>
                <input type="text" name="name" id="name"><br>
                <label for="street">STREET</label>
                <input type="text" name="street" id="street"><br>
                <label for="city">CITY</label>
                <input type="text" name="city" id="city"><br>
                <label for="phone">PHONE</label>
                <input type="text" name="phone" id="phone"><br>

                <button type="submit">PLACE ORDER</button>
            </form>
            <br/><br/>
        </div>
    </div>
</div>
